:root{
    --color-text-primario: #E8E8E9;
    --color-text-secundario: #999;
    --color-link: #70B5F9;
}

body{
    margin: 0;
    font-family: Roboto;
}

.content{
    padding: 0px 200px;
}
h1, h2, h3, ul, li, a, p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1, h2{
    color: var(--color-text-primario);
}

p{
    color: var(--color-text-secundario);
}

a{
    color: var(--color-link);
}