:root{
    --color-text-primario: #E8E8E9;
    --color-text-secundario: #999;
    --color-link: #70B5F9;
}

body{
    margin: 0;
    font-family: Roboto;
}

.bg-div{
    background-color: #1B2226;
    border-radius: 1rem;
}

.box-size{
    max-width: 1135px

}
.box{
    grid-template-columns: 4.6fr 1fr;
    gap: 32px;
}
.box-sub{
    grid-template-columns: .795fr;
}
.box-margin{
    padding: 16px 0px;
}
.content{
    padding: 0px 200px;
}
h1, h2, h3, ul, li, a, p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1, h2{
    color: var(--color-text-primario);
}

p{
    color: var(--color-text-secundario);
}

a{
    color: var(--color-link);
}